@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  font-family: 'JetBrains Mono';
}

body {
  margin-top: 100px;
  margin-left: 25vw;
  width: 50vw;
  background-color: black;
  color: #eee;
}